{% extends "base.html" %}
{% block title %}Gerador de Senha{% endblock %}

{% block content %}

    <div class="container my-5 post-home">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg subject-block">
                <div class="px-4 pt-5 my-5 text-center">
                    <h3 class="display-4 fw-bold lh-1">Gerador de senha</h3>
                </div>

                {% if resultado_senha %}
                    <div class="d-grid d-md-flex justify-content-sm-center campo-senha">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Senha gerada com sucesso:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="senha-gerada" value="{{ resultado_senha }}">
                                </div>
                                <button type="button" class="btn btn-outline col-sm-1" id="copia-senha">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="d-grid d-md-flex justify-content-sm-center">
                        <form class="p_primario" actions="{{ url_for('gera_senha') }}" method="post">
                            <div class="form-group row">
                                <label class="col-md-7 col-form-label" for="numeroDeLetras">Quantidade de letras:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" name="letras" placeholder="Quantidade de letras" required="required"/>
                                </div>
                            </div>

                                <div class="form-group row">
                                    <label class="col-md-7 col-form-label" for="numeroDeNumeros">Quantidade de números:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="text" name="numeros" placeholder="Quantidade de números" required="required"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-7 col-form-label" for="numeroDeSimbolos">Quantidade de símbolos:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" type="text" name="simbolos" placeholder="Quantidade de símbolos" required="required"/>
                                    </div>
                                </div>

                                <div>
                                
                                        <div class="d-grid gap-2 d-md-flex justify-content-sm-center mb-4 mb-lg-3">
                                            <button type="submit" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Gerar senha</button>
                                        </div>
                                
                                </div>
                        </form>
                    </div>
                {% endif %}
    </div>
{% endblock %}