{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Aplicações</h1>
    <p>Abaixo temos algumas aplicações utilizando APIS bem legais encontradas na internet.</p>

    <div class="row-6">
        <div class="col separar">
            <a href="{{ url_for('pega_conselho_api') }}" class="btn btn-outline-secondary" role="button"><h2>Receba um conselho</h2></a>
        </div>
        
        <div class="col separar">
            <a href="{{ url_for('jogo_cartas') }}" class="btn btn-outline-secondary" role="button"><h2>Jogo de cartas</h2></a>
        </div>
    </div>
{% endblock %}